body {
  margin: 0;
  padding: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas {
  border: 2px solid white;
  background-image: url('https://i.imgur.com/taSLDn8.jpg'); /* Grama */
  background-size: cover;
  background-position: center;
}